*{  
    margin: 0;
    padding: 0;
}
body{
    background-image: url("resort.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    padding: 0 0.7%;
    font-weight: bold;
    float: right;
}
a:hover{
    color: red;
}
p{
    font-size: 2em;
    color: rgb(35, 35, 189);
    font-family: sans-serif;
    padding-top: 16.5%;
    padding-left: 20%;
}
.search{
    padding: 1.6% 43% 1.6% 1.6%;
    border: 3px solid silver;
    border-radius: 5px;
    font-size: 1em;
}
.form{
    margin-left: 20%;
}
.submit{
    padding: 1.6% 1.6% 1.6% 1.6%;
    background-color: red;
    color: white;
    font-weight: bolder;
    margin-left: 1%;
    border: none;
    border-radius: 5px;
}
.submit:hover{
    background-color: blue;
    cursor: pointer;
}
.bottom{
    height: 70px;
    width: 250px;
    float: right;
    margin: 16% 2% 0 0;
}
.last{
    font-size: 0.9em;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 5px 0px 5px 0px;
    border-radius: 2px;
}
.last:hover{
    cursor: help;
    color: red;
}